body {
	margin: 0;
}
#sectionA {
	background: blue;
	display: flex;
	flex-grow: 1;
	height: 1000px;
}
#sectionB {
	background: red;
	display: flex;
	flex-grow: 1;
}
#sectionC {
	background: green;
	display: flex;
	flex-grow: 1;
}

.maindiv {
	display: flex;
	align-items: column;
}
